.adds_cls{
    position: fixed;
    padding: 15px 10px 0px 10px;
    bottom: 78px;
    width: 100%;
    height: 40px;
    font-size: revert;
    background: rgb(178 192 59);
    font-style: oblique;
    font-weight: bold;
    display: -webkit-box;
}
.Sign_up_cls{
    background-color: #4c84af;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
}
