.women_imgs{
    width: 200px;
    height: 300px;
}
.women_imgs{
    width: 250px;
    height: 450px;
    border-style: dotted;
}
.womens_img_div{
    display: flex;
}
.image_mens{
    width: 235px;
    height: 320px;
}
.main_div{
    display: flex;
}