.footer_cls{
    /* color: #c8cbcc;
    background-color: #363738;
    height: 105px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch; */
    /* position: fixed; */
    padding: 30px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 100px;
    background: rgb(58, 54, 54);
}
.a_tag_footer{
    color: #c8cbcc;
     text-decoration: none;
    font-family: cursive;
}
.footer_clsss{
    display: flex;
    flex-wrap: wrap;
    height: 22px;
    align-items: center;
    justify-content: flex-start;
}